@media (max-width: 550px){

.nav-bar{
    flex-direction: column;
    justify-content: unset;
}

nav {
    height: 15vh;
}

.sf-box{
    flex-direction: column-reverse;
}

.firstSection{
    height: unset;
}

.firstSection .box {
    width: 85vw;
    height: 50vh;
}

.secondSection .s2-box {
    flex-direction: column;
}

.secondSection {
    max-width: none;
    margin: 25px 20px;
}

.secondSection .s2-box .s2-left {
    width: unset;
}

.secondSection .s2-box .s2-right {
     display: unset ;
}

.secondSection .s2-box .box{
    width: unset;
    height: 45vh;
    margin-bottom: 1rem;
}

.secondSection .s2-box2 {
    flex-direction: column;
}

.secondSection .s2-box2 .box {
    width: unset;
    height: 45vh;
}

.secondSection .s2-box2 .s2-right{
    display: unset;
}

.secondSection .s2-box3{
    flex-direction: column;
}

.secondSection .s2-box3 .box{
    width: unset;
    height: 40vh;
}

#back-to-top{
    text-align: center;
}

.input-box {
    flex-direction: column;
    height: 35vh;
}
}