* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border: border-box;
  color: white;
  font-family: "Source Sans 3", sans-serif;
  cursor: default;
}

nav {
  height: 65px;
  width: 100vw;
  background-color: rgb(24, 23, 61);
}

body {
  background-color: rgb(7, 7, 36);
  overflow-x: hidden;
}

footer {
  width: 100vw;
  background-color: rgb(4, 4, 26);
}
